<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newsleep="{{hungry}}">
		{{#if hungry}}Eat it{{else}}nevermind!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
